body {
  background-image: url('./img/fondo1.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-position: center center; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* tarjeta */
.small-card {
  font-size: 14px; /* Ajusta el valor según tus necesidades */
}

.nav-tabs {
  font-size: 12px; /* Ajusta el valor según tus necesidades */
}

.evolution-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30%;
}

.boton-r {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* movimientos */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ring {
  width: 200px;
  height: 200px;
  height: 4px solid black;
  border-radius: 50%;
}

.logo-container {
  
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 15%; /* Coloca el logo en el centro horizontal */
  transform: translateX(-50%); /* Centra el logo horizontalmente */
}

.logo-image {
  position: relative; /* Posición absoluta para superponerla sobre el título */
  bottom: 35px; /* Ajusta la distancia desde la parte superior */
  left: 450px; /* Ajusta la distancia desde la izquierda */
  width: 200px; /* Ajusta el tamaño de la imagen */

}

.pokedex {
  margin-top: 120PX;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}



.input-group {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
}

.input-group1 {
  display: flex;
  align-items: center;
  margin-right: 10px; /
}

#pokemonSearchInput{
  width: 300px;
}
#searchButton{
  margin: 2px;
}

#sortSelector{
  border-radius: 10px;
}


.pokemon-card {
  
  font-family: 'Comic Sans', cursive;
  background-image: url('./img/pokeball1\ .png');
  background-size: cover;
  background-position: center;
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 30px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: visible; 
  position: relative;
  
}

.pokemon-card:hover {
  transform: scale(1.05);
  z-index: 2;
  
  
}
/* efectos del pokemon  */
.pokemon-image {
  max-width: 100px;
  margin: 0 auto;
  position: relative; 
  transition: transform 0.4s ease-in-out, translateX 2s ease-in-out, translateY 2s ease-in-out;
  animation: floatAnimation 5s ease-in-out infinite alternate; 
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.7)); 

}


.pokemon-card:hover .pokemon-image {
  transform: scale(1.5);
  position: relative;
  top: -50px; 
  left: -10px;
  z-index: 1; 
  animation:none;
}


@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px); 
  }
  100% {
    transform: translateX(0);
  }
}

.pokemon-number {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  border-radius: 5px;
}


.type-badge {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.types-container {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente */
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
}


.pokemon-details-overlay {
  
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.pokemon-details-card {
  
  padding: 20px;
  width: 80%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hidden {
  display: none;
}

.hidden-card {
  display: none;
}


.evolution-chain-container {
  text-align: center;
  margin-top: 20px;
}

.evolution-chain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.evolution-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evolution-pokemon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #333;
  margin-bottom: 5px;
}

.evolution-arrow {
  font-size: 24px;
  margin: 0 10px;
}

/* buscador */
/* .error-messages {
  margin-top: 5px;
  font-size: 12px;
  color: red;
} */


.error-message {
  font-size: 12px; /* Ajusta el tamaño de fuente según tu preferencia */
  padding: 0;
  margin: 0;
  display: block;
}






.moves-list-container {
  max-height: 320px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Agregar scroll vertical cuando el contenido excede la altura */
}

.moves-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0; /* Eliminar el relleno del ul para evitar desplazamiento horizontal */
  margin: 0; /* Eliminar el margen para evitar desplazamiento horizontal */
  list-style: none;
}

.move {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}